/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.content{
	min-height: 600px;
}

.list-item{
	border-top: 1px solid #cccccc;
	margin: 10px 0px;
	padding: 10px 0px;
}

.no-break{
	display: inline;
}

.comment {
	width: 426px;
}

.navbar img{ 
	height: 30px;
	width:  auto;
}

.right-side{
	float: right;
}

.video {
	width: 430px;
	margin: 0 auto;
	padding: 40px 0;
}

.less-space{
	line-height: 1em;
}

.less-space a{
	color: black;
}

.comment-box{
	height: 3em;
	width: 416px;
}

.video-show{
	padding: 30px 
}
.this-week{
	padding: 20px;
	overflow: hidden;
	background-color: #eeeeee;
}
